name: C/C++ CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install GCC
      run: sudo apt-get install build-essential

    - name: Build C Program
      run:  gcc work.c -o output

    - name: Run Program
      run: ./output

